
#chat-header{
    height: 3em;
    background-color: #4a4a4a;
}

#chat_content{
    flex-grow: 1;
}

#chat-area{
    flex-grow: 1;
}

#messages-container{
    flex-grow: 1;
}

#input-area{
    align-items: center;
    padding: 0 1em 0 1em;
    margin: 1em;
    margin-top: 0;
    min-height: 3em;
    background-color: #4f4f4f;

}

#upload-button{
    margin-right: 1em;
    height: 3em;
    width: 3em;
}


#chat-textinput{

    border: none;
    background: inherit;
    height: 100%;
    flex-grow: 1;
}

.chat-tools{
    margin-right: 1em;
    height: 2em;
    width: 2em;
}

#chat-emojitool{
    margin-right: 0;
}

#emojitool-menupopup {
    visibility: hidden;
    position: absolute;
    background-color: #3e3e3e;
    padding: 1em;
    height: 15em;
    width: 15em;
    bottom: 4em;
}

#messages-container{
    overflow: scroll;
}

.message-container-item{
    margin-left: 1em;
}

.message-item-profile{
    height: 2.5em;
    width: 2.5em;
}

.message-item-content{
    margin-left: 1em;
}

.message-content-header{
    font-size: .9em;
}

.message-text{
    font-size: .8em;
}