
#chat-header{
    padding-left: 1em;
    min-height: 32px;
    background-color: #4a4a4a;
    align-items: center;
}


#chat-title{
    font-weight: bold;
    font-size: .85em;
}

#chat_content_area{
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
}

#chat_content{
    flex-grow: 1;
    min-height: 0;
    min-width: 0;
}

#chat-area{
    min-width: 0;
    background-color: #5d5d5d;
    flex-grow: 1;
}

#messages-container{
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
}

#input-area{
    align-items: center;
    padding: 0 1em 0 1em;
    margin: 1em;
    margin-top: 0;
    height: 3em;
    background-color: #4f4f4f;
    border-radius: .5em;

}

#upload-button{
    margin-right: 1em;
    height: 3em;
    width: 3em;
}


#chat-textinput{

    border: none;
    background: inherit;
    height: 100%;
    flex-grow: 1;
}

.chat-tools{
    margin-right: 1em;
    height: 2em;
    width: 2em;
}

#chat-emojitool{
    margin-right: 0;
}

#emojitool-menupopup {
    visibility: hidden;
    position: absolute;
    background-color: #3e3e3e;
    padding: 1em;
    height: 15em;
    width: 15em;
    bottom: 4em;
}

.message-container-item{
    margin: 1em;
    overflow-x: hidden;
}

.message-item-profile{
    border-radius: 3em;
    height: 3em;
    width: 3em;
}

.message-item-content{
    margin-left: .5em;

}

.message-content-header{
    margin-bottom: .3em;
    align-items: baseline;
    font-size: 1em;
}

.message-text{
    font-size: .8em;
    overflow-x: hidden;
    overflow-wrap: anywhere;
}


.msg-header-timestamp{
    color: #7e7e7e;
    margin-left: 8px;
    font-size: .65em;
    font-family: Verdana ,serif;
}