
#guildlist{
    align-self: center;
    align-items: center;
    justify-items: center;
    background-color: #4f4f4f;
    box-sizing: border-box;
    height: 100%;
    min-width: 4em;
}

#guildlist_contents_area_frame {
    flex-grow: 1;
    border-radius: 1em;
    min-height: 0;
    min-width: 0;
}


.guildListItemContainer{
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    height: 3em;
    width: 3em;
}



.guildListItemIcon{
    border-radius: 3em;
    height: 3em;
    width: 3em;
}


.guildListItemIcon:hover{
    transition: ease;
    border-radius: .5em;
    height: 3em;
    width: 3em;
}

