* {
    padding: 0;
    margin: 0;
    font-family: Consolas, serif, Arial;
    color: white;
    box-sizing: border-box;
}


body{
    background-color: #6e6e6e;
}

button{
    border: none;
    background-color: #606060;
}


button:disabled{
    background-color: #4f4f4f;
}

.botinfobarlabel{
    font-size: .9em;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}



#botinfo{
    background-color: #3e3e3e;
    height: 3em;
    width: 100%;
    align-items: center;
    padding: 0 .5em 0 .5em;
}


#botTokenLogin{
    height: 90%;
    width: 5em;
}





.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip:after {
    font-size: .8em;
    position: fixed;
    background: rgba(30, 30, 30, .8);
    content: attr(data-tooltip);
    left: 5em;
    max-width: 200em;
    opacity: 0;
    transition: all ease .3s;
    padding: 5px;
    border-radius: 7px;
}