@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Consolas, serif, Arial;
    word-spacing: 0.05em;
    color: white;
    box-sizing: border-box;

}

*:focus {
    outline: none;
}


body {
    background-color: #6e6e6e;
    overflow-x: hidden;
}

button {
    border: none;
    background-color: #606060;
}


button:disabled {
    background-color: #4f4f4f;
}

.botinfobarlabel {
    font-size: .9em;
}

.column {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}


#botinfo {
    font-family: Consolas, serif, Arial;
    background-color: #3e3e3e;
    min-height: 2em;
    width: 100%;
    align-items: center;
    padding: 0 .5em 0 .5em;
}


#botTokenLogin {
    border-radius: .3em;
    min-height: 70%;
    width: 4em;
}

#content{
    overflow: hidden;
    flex-grow: 1;
}


.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip::after {
    visibility: hidden;
    font-size: .8em;
    position: fixed;
    background: rgba(30, 30, 30, .8);
    content: attr(data-tooltip);
    left: 5em;
    max-width: 200em;
    opacity: 0;
    transition: all ease .3s;
    padding: 5px;
    border-radius: 7px;
}


.tooltip:hover:after {
    visibility: visible;
    opacity: 1;
}

/* width */
::-webkit-scrollbar {
    margin-right: 5px;
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #4f4f4f;
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #3e3e3e;
    border-radius: 1em;
}


/* Shared styling */

.home-options-item,.channel-container-item{
    width: 100%;
    padding: 0 .5em 0 .5em;
    border-radius: .3em;
    align-items: center;
}




.person-item:hover,.home-options-item:hover,.channel-container-item:hover{
    background-color: #4a4a4a;
}




.person-item{
    padding: .2em .5em .2em .5em;
    width: 100%;
    height: 3em;
    border-radius: .3em;
    align-items: center;
    font-size: .9em;
    margin-bottom: .1em;
    justify-items: flex-start;
}

.person-avatar{
    height: 2em;
    width: 2em;
    border-radius: 2em;
}

.person-info{
    height: 100%;
    margin-left: 1em;
    align-items: flex-start;
    overflow: hidden;
}

.person-info-name{
    white-space: nowrap;
}

.person-info-status{
    white-space: nowrap;
}

.panel-section-header{
    padding: 0 .5em 0 .5em;
    margin-top: 1em;
    margin-bottom: .4em;
}

.panel-section-header-title{
    font-size: .8em;
    letter-spacing: 1px;
    font-weight: bold;
}
