


.guildBanner{
    height: 6em;
    width: 100%;
    object-fit: cover;
}

.channelList {
    margin: 0;

    padding: 0;
    overflow-y: auto;
    height: 100%;
    background: var(--surface-color);
}

.channelItem{

    padding: 0.4em 0.5rem;
    cursor: pointer;
    transition: all 200ms linear;
    border-radius: 0.5em;
    background: transparent;
    font-size: 0.9em;
    font-weight: 500;
    margin: 0.1rem 0.25rem 0.25rem;

}
.channelItem:hover{
    background-color: var(--hover-color);
}
.channelItem:active{
    transition: all 100ms ease;
    background-color: var(--pressed-color);
}
.channelItem[data-selected="true"]{
    background-color: var(--accent-color);
}

.item_icon{
    margin-right: 0.5rem;
    font-size: 1em;
}
